[Unit]
Description=Bloko ticker scroller daemon
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/rpi-rgb-led-matrix/bindings/python/samples/bloko/
ExecStart=/bin/bash /home/pi/rpi-rgb-led-matrix/bindings/python/samples/bloko/run-scroller.sh

[Install]
WantedBy=multi-user.target